.input-field .input-group{
    margin-top: auto;
    width: 60%;
    height: 50px;
    color: #969696;
}
.input-field .input-group input{
 background: #F1ECE6;
}
.input-field .input-group button{
    height: 50px;
    width: 90px;
    border: transparent;
    border-radius: 0px 20px 20px 0px;
    background-color: #76b6cc;   
    font-size: 18px;
    font-weight: bold;
    color: #F1ECE6;
}

.showing-box{
    background: #F1ECE6;    
    width: 50%;
    height: 400px;
    border-radius: 30px;
}

.item{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.item .actions .button{
    font-size: 20px;
    padding: 2px 6px;
}



.item{
    margin-top: 5px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    background-color: #F1ECE6;
    border-radius: 12px;
}

.content{
    display:1 1 0%;
    width:90%;
}

.item .content .text {
	font-size: 1.125rem;
	width: 100%;
    border-color: transparent;
    background-color: #F1ECE6;
}

.input-group .btn{
    background-color: #76b6cc;
    border: transparent;
    color: #F1ECE6;
    font-size: 18px;
    font-weight: 500;
}
.item .content .text:hover {
    cursor:context-menu;
}
.edit{
    background-color: #76b6cc;
    border: transparent;
    color: #F1ECE6;
}
.item .actions {
	display: flex;
}

.item .actions button {
	margin-left: 0.5rem;
	font-weight: 700;
    font-size:0.9rem;
    padding:2px 6px;
}